@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");
/* font-family: "Hanken Grotesk", sans-serif; */
:root {
  --Light-red: hsl(0, 100%, 67%);
  --Orangey-yellow: hsl(39, 100%, 56%);
  --Green-teal: hsl(166, 100%, 37%);
  --Cobalt-blue: hsl(234, 85%, 45%);

  --Light-red2: hsl(0, 36%, 87%);
  --Orangey-yellow2: hsl(41, 38%, 85%);
  --Green-teal2: hsl(164, 28%, 87%);
  --Cobalt-blue2: hsl(234, 42%, 87%);

  /* Gradients */

  --Light-slate-blue-background: hsl(252, 100%, 67%);
  --Light-royal-blue-background: hsl(241, 81%, 54%);

  --Violet-blue-circle: hsla(256, 72%, 46%, 1);
  --Persian-blue-circle: hsla(241, 72%, 46%, 0);

  /* Neutral */

  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%);
}
body {
  font-family: "Hanken Grotesk", sans-serif;
}
